<table *ngIf="paises.length>0" class="table table-hover animate__animated animate__backInUp">
  <thead class="thead-light">
    <tr>
      <th>#</th>
      <th>Bandera</th>
      <th>Nombre</th>
      <th>Poblacion</th>
    <th>link</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of paises; let i = index">
      <td>{{i+1}}</td>
      <td><img class="small-flag" src="{{item.flag}}" alt=""></td>
      <td> {{item.capital}}, {{item.name}}, {{item.region}}</td>
      <td>{{item.population | number}}</td>
      <td><a [routerLink]="['/pais',item.alpha2Code]">Ver pais</a></td>
    </tr>
  </tbody>
</table>
